[submodule "sources_forked/autoformat"]
	path = sources_forked/autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "sources_forked/gitgutter"]
	path = sources_forked/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "sources_forked/vim-scala"]
	path = sources_forked/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
