longboard:
  title: "longboard"
  paths: [
    "/home/ernestrc/tokbox/longboard"
  ]
lbd:
  title: "lbd"
  paths: [
    "/home/ernestrc/tokbox/lbd"
  ]
viz:
  title: "viz"
  paths: [
    "/home/ernestrc/tokbox/viz"
  ]
termust:
  title: "termust"
  paths: [
    "/home/ernestrc/dev/rust/termust"
  ]
"rust-lab":
  title: "rust-lab"
  paths: [
    "/home/ernestrc/dev/rust/lab"
  ]
hubble:
  title: "hubble"
  paths: [
    "/home/ernestrc/tokbox/hubble"
  ]
kaiburr:
  title: "kaiburr"
  paths: [
    "/home/ernestrc/dev/rust/kaiburr"
  ]
